snippet beg "file head" i
/******************************************************
* Author : CT
* https://github.com/guessable
*******************************************************/

#ifndef ${1:NAME}
#define $1
#include <iostream>
$0








#endif
endsnippet
#=====================

snippet class "class" i
class ${1:ClassName} {
	$0
};
endsnippet
#======================

snippet tem "template" i
template<typename $0
endsnippet
#======================
